* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
}

.logoimg{
    margin-top: 17px;
    width: 100%;
    height: 180px;
    
}

#Time , #DataTime{
    margin-top: 25px;
    text-align: center;
    color: #EC7F24;
    font-size: 70px;
}

.HeaderCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}


.new-closed {
    display: flex;
    margin-top: 17px;
}

.new, .closed {
    background-color: #FFFFFF;
    border: 3px solid #EC7F24;
    border-radius: 17px;
    padding: 15px;
    margin: 0 30px;
    text-align: center;
    font-size: 48px;
    box-shadow: 0px 0px 50px 10px gray;
}

.new {
    color: #EC7F24;
}

.closed {
    color: #EC7F24;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, auto); 
    grid-template-areas: "a" "b";
    margin-top: 17px;
}

.columns-1, .columns-2 {
    display: flex;
    justify-content: space-between;
    margin: 17px; 
}

.weather {
    position: relative;
    background-color: #FFFFFF;
    padding: 10px;
    border: 3px solid #EC7F24;
    border-radius: 17px;
    min-width: 15%;
    box-shadow: 0px 0px 50px 10px gray;
    overflow: hidden; 
}

.weather-info {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    
}

.weatherImages2{
    width: 5%;
    height: 350px;
    margin-bottom: 10px;
}

.weather img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px; 
    
}

#weatherImages{
    width: 30%;
    height: 30%;
}

#City, #AirTemp, #WindSpeed {
    margin: 17px 0; 
}


.visits{
    min-width: 17%;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border: 3px solid #EC7F24;
    border-radius: 17px;
    box-shadow: 0px 0px 50px 10px gray;
    overflow: hidden; 
}

.stats{
     min-width: 17%;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border: 3px solid #EC7F24;
    border-radius: 17px;
    box-shadow: 0px 0px 50px 10px gray;
    overflow: hidden; 
}

.requests{
     min-width: 40%;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border: 3px solid #EC7F24;
    border-radius: 17px;
    box-shadow: 0px 0px 50px 10px gray;
    overflow: hidden; 
}

.calls, .rating {
    min-width: 49%;
    min-height: 400px;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border: 3px solid #EC7F24;
    border-radius: 17px;
    box-shadow: 0px 0px 50px 10px gray;
    overflow: hidden; 
}

.calls h2, .requests h2, .visits h2, .stats h2, .rating h2, .weather h2 {
    color: #EC7F24;
    margin: 10px;
    font-size: 35px;
}

table {
    width: 100%;
    max-height: 90%;
    border-collapse: collapse;
}


table th, table td {
    padding: 0 5px 0 1%;
    text-align: left;
    font-size: 20px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
